<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../JS/cart.js" defer></script>
    <title>Datos Cliente</title>
</head>
<body>
        <h1 class="title">Datos cliente</h1>
        <form class="form-container"action="" id="wood-form">
            <div>
                <label for="">Cliente
                        <input type="text" placeholder="nombre cliente" id="cli">
                </label>
            </div>
            <div>
                <label for="">Telefono
                        <input type="text" placeholder="telefono" id="tel">
                </label>
            </div>
            <div>
            <label for="">Direccion
                    <input type="text" placeholder="ancho" id="dir">
            </label>
            </div>
            <div class="button-container">
                <input class="send-button" type="submit" value="Aceptar">
            </div>
    
        </form>
</body>
</html>