<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventario</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../JS/showListWoods.js" defer></script>
</head>

<body>
    <div class="content">
        <nav class="first">
          <ul>
            <li><a href="new-product.html">Madera</a></li>
            <li><a href="/">Calamina</a></li>
            <li><a href="/">Ferreteria</a></li>
            <li><a href="/">Ventas</a></li> 
          </ul>
      
        </nav>

        <main class="main">
          <div class="options">
            <form action="">
              <input type="search">
            </form>
            <button>Agregar Madera</button>
          </div>
          <div class="items">
            <table id="woodList">
                
                <tr>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Cantidad</th>
                  <th>Precio de compra</th>
                  <th>Precio de venta</th>
                </tr>                
               
              </table>
          </div>
        </main>
    </div>
</body>
</html>