<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventario</title>
    <script src="../JS/ProductsViews.js" defer></script>
    <script src="../JS/woodForm.js" defer></script>
    <script src="../JS/currentProductTableLoader.js" defer></script>
    <script src="../JS/sales.js" defer></script>
    <script src="../JS/buttonLoader.js" defer></script>
    <script src="../JS/buttonsListener.js" defer></script>

</head>

<body>
  <div class="content">
    <div class="first">
      <div class="logo">
        <img class="moalogo" src="../Assets/moa.png" alt="logo">
        
      </div>
      <nav>
        <ul class="main-menu">
          <li id="wood"><a>Madera</a></li>
          <li id="calamina"><a>Calamina</a></li>
          <li id="ironmongery"><a>Ferreteria</a></li>          
          <li id="receipt"><a>Recibos</a></li> 
          <li id="shoppingCart"><a>Ventas</a></li> 
          <li id="print-pdf"><a>recibo</a></li> 
        </ul>
      </nav>
    </div>
    <main class="main">
      <div class="options">
        <form class="search-form" action="">
          <input class="search-input" type="search" id="searchInput" onkeyup="search()" placeholder="Ingrese para buscar...">
        </form>
        <form class="add-item-form" action="" style="display: none;" id= "addWoodForm">
          <button class ="add-input" type="button" id="addNewWood">Agregar Madera</button>
        </form>

        <form class="add-item-form" action="" style="display: none;" id= "addCalaminaForm">
          <button class ="add-input" type="button" id="addNewCalamina" >Agregar Calamina</button>
        </form>

        <form class="add-item-form" action="" style="display: none;" id= "addIronmongeryForm">
          <button class ="add-input" type="button" id="addNewIronmongery" >Agregar a la ferreteria</button>
        </form>
        
        <form class="add-item-form" action="" style="display: none;" id= "saleConfirmationForm">
          <button class ="add-input" type="button" id="saleConfirmation">Confirmar Compra</button>
        </form>

      </div>
      <div class="items">
        <table class ="list" id="productsList">
            <thead>
            <tr class="table-title">
                <th>Codigo</th>
                <th class="product-name">Nombre</th>
                <th>Proveedor</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Cant. vendida</th>
                <th>P. compra</th>
                <th>P. venta</th>
                <th>T. compra</th>
                <th>T. venta</th>
                <th>Cant. restante</th>
            </tr> 
            </thead>
            <tbody id="table-body">
                
            </tbody>  
        </table>
        <table class ="list" id="salesList" style="display: none;">
          <tr class="table-title">
            <th>Codigo</th>
            <th>Tipo de Unidad</th>
            <th>Descripcion</th>
            <th>Precio Unitario</th>
            <th>Importe</th>        
          </tr>                
        </table>
        <table class ="list" id="receiptList" style="display: none;">
          <tr class="table-title">
            <th>Num Recibo</th>
            <th>Nombre cliente</th>       
          </tr>                
        </table>
      </div>
    </main>
  </div>

</body>
</html>