<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventario</title>
    <script src="../JS/showListWoods.js" defer></script>
    <script src="../JS/woodForm.js" defer></script>
    <script src="../JS/sales.js" defer></script>
</head>

<body>
  <div class="content">
    <div class="first">
      <div class="logo">
        <img class="moalogo" src="../Assets/moa.png" alt="logo">
        
      </div>
      <nav>
        <ul class="main-menu">
          <li><a href="#" id="wood">Madera</a></li>
          <li><a>Calamina</a></li>
          <li><a>Ferreteria</a></li>
          <li><a href="#" id="sale">Ventas</a></li> 
        </ul>
      </nav>
    </div>
    <main class="main">
      <div class="options">
        <form class="search-form" action="">
          <input class="search-input" type="search" id="searchInput" onkeyup="search()" placeholder="Ingrese para buscar...">
        </form>
        <form class="add-item-form" action="">
          <button class ="add-input" type="button" id="addNewWood">Agregar Madera</button>
        </form>
      </div>
      <div class="items">
        <table class ="list" id="woodList">
            <tr class="table-title">
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Proveedor</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Cant. vendida</th>
              <th>P. compra</th>
              <th>P. venta</th>
              <th>T. compra</th>
              <th>T. venta</th>
              <th>Cant. restante</th>
            </tr>                
        </table>
        <table class ="list" id="salesList" style="display: none;">
          <tr class="table-title">
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Proveedor</th>
            <th>Cliente</th>
            <th>Medida</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>P. compra</th>
            <th>P. venta</th>
            <th>T. venta</th>
          </tr>                
        </table>
      </div>
    </main>
  </div>
</body>
</html>