<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar nueva calamina</title>
    <script src="../JS/newCalamina.js" defer></script>
</head>
<body>
  <h1 class="title">Formulario</h1>
    <form class="form-container"action="">
      <div class="inputs-container">
        <div class="left">
          <input type="text" placeholder="Código" id = "idProduct">
          <input type="" placeholder="Descripción" id="description">
          <input type="text" placeholder="Cantidad" id="quantity">
          <input type="text" placeholder="Precio de compra" id="purchasePrice">
          <input type="text" placeholder="Total compra" id="purchasedTotal">

        </div>
        <div class="right">
          <input type="text" placeholder="Nombre" id="name">
          <input type="text" placeholder="Proveedor" id="provider">
          <input type="text" placeholder="Cantidad vendida" id="quantitySold">
          <input type="text" placeholder="Precio de venta" id="salePrice">
          <input type="text" placeholder="Total venta" id="totalSold">
        </div>
      </div>
      <div class="button-container">
        <input class="send-button" type="submit" value="Agregar">
      </div>

    </form>
</body>
</html>