<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar nueva madera</title>
    <script src="../JS/saleOtherLogic.js" defer></script>
</head>
<body>
    <h2 class="title">Confirmar cantidad de la venta</h2>
    <h3 id="product-description">Producto: </h3>
    <form class="form-container"action="" id="wood-form">
        <label for="">Cantidad
                <input type="text" placeholder="Cantidad" id= "cant">
        </label>
        <label for="">Precio unitario
                <input type="text" id="punit">
            </label>
        <div class="button-container">
            <input class="send-button" type="submit" value="Agregar">
        </div>

    </form>
</body>
</html>
