<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar productos a la venta</title>
    <script src="../JS/saleLogic.js" defer></script>
</head>
<body>
  <h2 class="title">Confirmar detalles de la venta</h2>
  <h3 id="product-description">Producto: </h3>
  <h3 id="product-quantity">Cantidad disponible: </h3>
    <form class="form-container"action="" id="wood-form">
        
        <div>
        <label for="">Espesor
                <input type="text" placeholder="Espesor" id="espesor">
        </label>
        <label for="">Ancho
                <input type="text" placeholder="Ancho" id="ancho">
        </label>
        <label for="">Largo
                <input type="text" placeholder="Largo" id="largo">
        </label>
        </div>

        <div>
            <label for="">Precio unitario
                <input type="text" id="punit">
            </label>
        </div>
        <div class="button-container">
            <input class="send-button" type="submit" value="Agregar">
        </div>

    </form>
</body>
</html>
