<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/voucher.css">
    <title>Recibo</title>
</head>
<body>
        <div class="title">
            <h1>Recibo</h1>
        </div>
        <div class="header">
            <aside class="first">
                <div class="blo">
                    <label for="">Código: </label>
                    <input type="text">     
                </div>
                <div class="blo">
                    <label for="">Cliente: </label>
                    <input type="text">     
                </div>
                <div class="blo">
                    <label for="">Contacto: </label>
                    <input type="text">     
                </div>
                <div class="blo">
                    <label for="">Telefono: </label>
                    <input type="text">     
                </div>
                <div class="blo">
                    <label for="">Dirección: </label>
                    <input type="text">     
                </div>

            </aside>
            <aside class="second">
                <div class="blo">
                    <label for="">Número: </label>
                    <input type="text">     
                </div>
                <div class="blo">
                    <label for="">Fecha: </label>
                    <input type="text">     
            </aside>
        </div>
        <div class="content">
            <table class ="list" id="salesList">
                <thead class="the">
                    <tr class="table-title">
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Proveedor</th>
                      <th>Cliente</th>
                      <th>Medida</th>
                      <th>Descripcion</th>
                      <th>Cantidad</th>
                      <th>P. compra</th>
                      <th>P. venta</th>
                      <th>T. venta</th>
                    </tr>  
                </thead>    
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                    <tr>
                        <td>0000</td>
                        <td>Madera negra</td>
                        <td>Jungla</td>
                        <td>Pepe</td>
                        <td>10x10</td>
                        <td>Mdera de primera</td>
                        <td>10</td>
                        <td>100</td>
                        <td>120</td>
                        <td>120</td>
                    </tr>              
                                
            </table>
        </div>
        <footer class="footer">
            
            <label style="padding-left: 5em;">Elaborado Por</label>
            <label style="padding-left: 5em;">Despachado Por</label>
            <label style="padding-left: 5em;">Recibi conforme</label>
        </footer>
</body>
</html>