<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/voucher.css">
    <script src="../JS/voucher.js" defer></script>
    
    <title>Recibo</title>
</head>
<body>
        <div class="title">
            <div class="direc">
                <h4>MOA</h4>
                <p>Av. Albina Patiño</p>
                <p>Km 17.5 acera sud</p>
            </div>
            <div class="title2">
                <h2 id="to-print">Recibo</h2>
                <p>(En Bolivianos)</p>
            </div>
        </div>
        <div class="header list">
            <aside class="first" id="aside-first">
                

            </aside>
            <aside class="second" id="aside-second">
                   
            </aside>
        </div>
        <div class="content">
            <table class ="list">
                <thead class="the">
                    <tr class="table-title">
                      <th>Codigo</th>
                      <th>Cantidad</th>
                      <th>Descripcion</th>
                      <th>P. venta</th>
                      <th>Importe</th>
                    </tr>  
                </thead>
                <tbody id="voucher-body">

                </tbody>    
                <thead class="the" id="foot">
                    <tr class="table-title">
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="total"></th>
                    </tr>  
                </thead>                      
            </table>
            <div ></div>
            <p class="total-footer list">Son: </p>
            <h4 class="total-footer list" id="literal"></h4>
        </div>
</body>
</html>