* {
    box-sizing: border-box;
}
nav{
    flex: 0 0 30%;
}
.first{
    background-color:#3465A3;
   
}

.main{
    
    flex: 0 0 70%;
    display: flex;
    flex: auto;
    flex-direction: column;
}
.options{
    
    flex: 0 0 25%;
    display: flex;
    flex: auto;
}
.items{
   
    flex: 0 0 75%;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    
    
}

.content{
    display: flex;
    flex: auto;
   
}
ul{
    margin-top:0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
/* tabla inventario madera */
#woodList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#woodList td, #woodList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#woodList tr:nth-child(even){background-color: #f2f2f2;}

#woodList tr:hover {background-color: #ddd;}

#woodList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #65A2F0;
  color: white;
}
.main-menu{
    
    margin-top: 60%;
    font-size: 1.4em;
}
.main-menu>li>a{
    text-decoration: none;
    color: white;
    margin-left: 30%;
    
}
.main-menu>li{
    padding-top: 8%;
    padding-bottom: 8%;
    justify-content: center;
}
.main-menu>li:hover{
    background-color: hsl(214, 82%, 67%);
    opacity: 0.6;

}
.add-item-form{
    flex:20%;
    
}
.add-input{
    border-radius: 12px;
    margin-top: 25%;
    width: 90%;
    height: 25%;
    background-color: #3465A3; /* Green */ 
    color: white;
}
.search-form{
    flex: 70%;
}
.search-input{
    border-color: #3465A3;
    border-width: 1px;
    border-radius: 12px;
    width: 50%;
    height: 25%;
    margin-top: 8%;
    margin-left: 4%;
    
}