* {
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    width: 100%;
    display: flex;
    padding-top: 5%; 
    
}
.content{
    flex: auto;
    text-align: center;
    align-content: center;

}
.footer{
    
    width: 100%;
    padding: 2em;
}
.first{
    flex: 0 0 70%;
}
.second{
    flex: 0 0 30%;
}

.title{
    width: 100%;
    text-align: center;
}
.blo {
    display: block;
    padding: 0.5em;
}
th,td {
    padding: 0.5em;
}

table{
    border-collapse: collapse;
}
table thead{
    border: 1px solid #000000;
}
.list{
    width: 90%;
    margin-left: 5%;
}
.total-footer {
    text-align: left;
}
.title {
    text-align: left;
    width: 90%;
    margin-left: 5%;
    display: flex;
    
}
.direc {
    flex: 0 0 20%;
    text-align: center;
    line-height: 2px;
   
}
.title2 {
    flex: 0 0 70%;
    text-align: center;
    line-height: 2px;
}
