body{
    
}
.title{
    text-align: center;
    color: #504F4F;
}
.form-container{
    background-color:#3465A3; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: -10px 11px 24px 1px rgba(0,0,0,0.75);
    height: 400px;
}
.inputs-container{
    flex: 0 0 85%;
    display: flex;
}
.button-container{
    flex: 0 0 15%;
       
}
.send-button{
    width: 25%;
    height: 50px; 
}
.left{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}
.right{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

.inputs-container>div>input{
    margin: 1em;
    height: 30px;
}

.create-button{
    align-self: flex-end;
    
}

.select-box{
    display: block;
    width: 25%;
}